name: Build
on:
  push:
    branches:
      - main
    paths:
      - images/**
      - .github/workflows/build.yml
  pull_request:
    paths:
      - images/**
      - .github/workflows/build.yml
jobs:
  prepare:
    name: Generate matrix
    runs-on: ubuntu-22.04
    outputs:
      matrix: ${{ steps.gen-matrix.outputs.matrix }}
    steps:
      - name: Generate build matrix
        id: gen-matrix
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: "${{ github.repository }}"
        run: |
          set -euo pipefail

          queryTrees() {
            gh api -X GET "repos/{owner}/{repo}/git/trees/$1" -F recursive=1 -q '
              (
                .tree
                | map({key: .path, value: .sha})
                | from_entries
              ) as $paths
              | .tree
              | map(select(.type == "blob"))
              | map(.path | split("/"))
              | map(select(length == 4 and .[0] == "images" and .[3] == "Dockerfile"))
              | map(.[0:3] | join("/"))
              | map({key: ., value: $paths[.]})
              | from_entries
            '
          }

          oldTrees=$(queryTrees "${GITHUB_BASE_REF:-$GITHUB_SHA^1}") || {
            exitCode=$?
            echo Failed to query old trees from "${GITHUB_BASE_REF:-$GITHUB_SHA^1}" >&2
            exit $exitCode
          }

          newTrees=$(queryTrees "$GITHUB_SHA") || {
            exitCode=$?
            echo Failed to query new trees from "$GITHUB_SHA" >&2
            exit $exitCode
          }

          OLD_TREES=$oldTrees NEW_TREES=$newTrees jq -r -n '
            ($ENV.OLD_TREES | fromjson) as $old
            | $ENV.NEW_TREES
            | fromjson
            | to_entries
            | map(select(.value != $old[.key]))
            | map(.key | split("/") | .[1:] | join("/"))
            | if length > 0 then {folder: .} else {skip: 1} end # hack to skip an empty matrix (GitHub will fail on empty matrix builds)
            | "matrix=\(tojson)"
          ' | tee -- "$GITHUB_OUTPUT"

  images:
    runs-on: ubuntu-22.04
    needs: [prepare]
    if: needs.prepare.outputs.matrix != '{"skip":1}'
    strategy:
      matrix: ${{ fromJSON(needs.prepare.outputs.matrix) }}
      fail-fast: false

    steps:
      - name: Determine image parameters
        id: image
        env:
          FOLDER: ${{ matrix.folder }}
        run: |
          set -euo pipefail

          registry=ttl.sh
          name="$GITHUB_REPOSITORY_OWNER-${FOLDER%%/*}-$GITHUB_RUN_ID-$GITHUB_RUN_ATTEMPT"
          tag=1d

          if [ "$GITHUB_REPOSITORY_OWNER" = k0sproject ] && [ "$GITHUB_REF" = refs/heads/main ]; then
            registry=quay.io
            name="$GITHUB_REPOSITORY_OWNER/${FOLDER%%/*}"
            tag="${FOLDER#*/}"
          fi

          defaultPlatforms=(linux/amd64 linux/arm64 linux/arm/v7 linux/riscv64)

          case "$FOLDER" in
          envoy*) unsupportedPlatforms=(linux/arm/v7 linux/riscv64) ;;
          actions-runner*) unsupportedPlatforms=(linux/riscv64) ;;
          *) unsupportedPlatforms=() ;;
          esac

          buildPlatforms=()
          for p in "${defaultPlatforms[@]}"; do
            skip=0
            for up in "${unsupportedPlatforms[@]}"; do
              if [ "$p" = "$up" ]; then
                skip=1
                break
              fi
            done
            [ $skip -ne 0 ] || buildPlatforms+=("$p")
          done

          trivyResults="${FOLDER//\//-}-trivy.sarif"

          {
            echo "image-name=$registry/$name:$tag"
            echo "platforms=$(IFS=',';  echo "${buildPlatforms[*]}")"
            echo "trivy-results=$trivyResults"
          } | tee -- "$GITHUB_OUTPUT"

      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          show-progress: false

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: ${{ steps.image.outputs.platforms }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Quay
        if: startsWith(steps.image.outputs.image-name, 'quay.io/')
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_PASSWORD }}
          registry: quay.io

      - name: Collect additional build contexts
        id: build-contexts
        env:
          FOLDER: ${{ matrix.folder }}
        run: |
          set -euo pipefail
          if [ -d images/"$FOLDER"/build-contexts ]; then
            for ctx in images/"$FOLDER"/build-contexts/*; do
              printf '%s=%s\n' "${ctx##*/}" "$ctx"
            done
          fi \
            | jq --slurp --raw-input --raw-output \
              'rtrimstr("\n") | split("\n") | "list=\(tojson)"' \
            | tee -- "$GITHUB_OUTPUT"

      - name: Build agent
        uses: docker/build-push-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ${{ format('images/{0}', matrix.folder) }}
          build-contexts: ${{ join(fromJSON(steps.build-contexts.outputs.list), '\n') }}
          platforms: ${{ steps.image.outputs.platforms }}
          push: true
          tags: ${{ steps.image.outputs.image-name }}

      - name: Run Trivy vulnerability
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ steps.image.outputs.image-name }}
          ignore-unfixed: true
          format: sarif
          severity: CRITICAL,HIGH
          output: ${{ steps.image.outputs.trivy-results }}

      - name: Upload Trivy scan results
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.image.outputs.trivy-results }}
          path: ${{ steps.image.outputs.trivy-results }}

      - name: Upload Trivy scan results to GitHub Security tab
        if: github.event_name == 'push'
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ steps.image.outputs.trivy-results }}
